.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.budgetcard__info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.budgetcard__info__title-amount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
