.budget__name {
  font-weight: 700;
}

.budget__amounts {
  font-weight: 600;
}

.budget__amounts-total {
  font-weight: 700;
}

.budget__description {
  font-style: italic;
  font-size: 1rem;
}

.expense__dscription {
  font-weight: 600;
}

.expense__amount {
  font-weight: 700;
}

.expense__notes {
  font-style: italic;
  font-size: 0.9rem;
}
