@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  font-family: "Open Sans", sans-serif;
}

* {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.main__grid {
  /*FIXME: */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1rem;
  align-items: flex-start;
}

.secondary {
  display: flex;
  margin: 1rem 0;
}
