.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /*FIXME: delete button looks horrible here...*/
}

.envelope {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.top__expenses-button {
  margin-right: 0.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.info__description-amount {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
