.name,
.title {
  font-weight: 700;
}

.budget__amounts {
  font-weight: 600;
}

.budget__amounts-total {
  font-weight: 700;
}

.top__expenses-title,
.expense__dscription,
.expense__amount,
.expense__notes,
.add-expense-form,
.add-budget-form,
.add-budget-form__title {
  color: black;
}

.description {
  font-style: italic;
  font-size: 1rem;
}

.content {
  font-size: 1rem;
  margin: 1rem 0;
}

.expense__dscription {
  font-weight: 600;
}

.expense__amount {
  font-weight: 700;
}

.expense__notes {
  font-style: italic;
  font-size: 0.9rem;
}
